@model MessagingApp.Models.ContactsModel

@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/ContactsStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="contactContainer">
        <form>
            <fieldset class="centered contactSearchArea" asp-action="ContactsTemplate">
                <h1 style="text-align:center; margin-top: 5px;">Contacts</h1>
                <div class="fields">
                    <p>
                        <label class="addContactLabel">Add contact:</label>
                        <input type="text" id="addContactInput" asp-for="addContactInput" />
                        <br>
                        <!--<div class="centered buttonArea">-->
                        <button class="addContactButton" type="submit" onclick="location.href='@Url.Action("Contacts", "Home")'">Add Contact</button>
                        <!--</div>-->
                        <br />
                    </p>
                </div>
            </fieldset>
        </form>
        <form class="centered viewContactsArea" asp-action="GroupTemplate" method="post">
            <div class="fields">
                <label class="contactLabel">Your Contacts:</label>
                <br>
                    @for (int i = 0; i < HomeModel.m_contactslist.Count; i++)
                    {
                        <div class="contactAndButtons">
                            <div class="contacts">
                                <h3>@HomeModel.m_contactslist[i]</h3>
                            </div>
                            <div class="removeContactButton">
                                <button style="display: inline-block; width: 36px; height: 36px; margin-top: 0px; background: url(../../Images/trashCan.jpg); background-size: cover;" type="button" dis onclick="location.href='@Url.Action("removeContact", "Home", new {contact = @HomeModel.m_contactslist[i]})'"></button>
                                <br>
                                <br>
                            </div>
                       </div>
                    }
                <br>
                <br>
            </div>
        </form>
        <div class="homeButton">
            <button class="goHomeButton" type="button" onclick="location.href='@Url.Action("Home", "Home")'">Home</button>
        </div>
    </div>
</body>
</html>
@if (ViewBag.Message != null)
{
<script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
</script>
}
