@model MessagingApp.Models.ContactsModel

@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/ContactsStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="contactContainer">
        <form>
            <fieldset class="centered contactSearchArea" asp-action="ContactsTemplate">
                <h1 style="text-align:center; margin-top: 5px;">Contacts</h1>
                <div class="fields">
                    <p>
                        <label class="addContactLabel">Add contact:</label>
                        <input type="text" id="addContactInput" asp-for="addContactInput" />
                        <br>
                        <!--<div class="centered buttonArea">-->
                        <button class="addContactButton" type="submit" onclick="location.href='@Url.Action("Contacts", "Home")'">Add Contact</button>
                        <!--</div>-->
                        <br />
                    </p>
                </div>
            </fieldset>
        </form>
        <form class="centered viewContactsArea" asp-action="GroupTemplate" method="post">
            <div class="fields">
                <label class="contactLabel">Your Contact Requests:</label>
                <br>
                <dl>
                    @for (int k = 0; k < HomeModel.m_contactslist.Count; k++)
                    {
                        @if (HomeModel.m_contactnumber[k] == 0)
                        {
                            <h3>@HomeModel.m_contactslist[k]</h3>
                            <button style="display: inline-block; width: 36px; height: 36px; margin-top: 0px; color: white; background-color:dodgerblue; font-size: 16px;" type="button" dis onclick="location.href='@Url.Action("EditContacts", "Home", new { username = HomeModel.m_contactslist[k] })'">✔ </button>
                            <button style="display: inline-block; width: 36px; height: 36px; margin-top: 0px; color: white; background-color:dodgerblue; font-size: 16px;" type="button" dis onclick="location.href='@Url.Action("removeContact", "Home", new { contact = @HomeModel.m_contactslist[k] })'">✘ </button>
                            <br>
                            <br>
                        }
                    }
                </dl>
                <br>

                <label class="contactLabel">Your Contacts:</label>
                <br>

                <dl>

                    @for (int i = 0; i < HomeModel.m_contactslist.Count; i++)
                    {
                        @if (HomeModel.m_contactnumber[i] == 1)
                        {
                            <h3>@HomeModel.m_contactslist[i]</h3>
                            <button style="display: inline-block; width: 36px; height: 36px; margin-top: 0px; color: white; background-color:dodgerblue; font-size: 16px;" type="button" dis onclick="location.href='@Url.Action("removeContact", "Home", new {contact = @HomeModel.m_contactslist[i]})'">🗑️ </button>
                            <br>
                            <br>
                        }

                    }
                </dl>
                <br>
                <br>
            </div>
        </form>
        <div class="homeButton">
            <button class="goHomeButton" type="button" onclick="location.href='@Url.Action("Home", "Home")'">Home</button>
        </div>
    </div>
</body>
</html>
@if (ViewBag.Message != null)
{
<script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
</script>
}
