@model MessagingApp.Models.HomeModel
@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/HomePageStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="LeftSideButton">
        <img id="LoginLogo" src="/Images/Logo.png" />

        <button id="ProfileButton" type="submit" onclick="location.href='@Url.Action("Profile", "Home")'">Profile</button>
        <button id="TopicSearchButton" type="submit" onclick="location.href='@Url.Action("TopicSearch", "Chat")'">Search For Topics</button>
        <button id="CreateGroupButton" type="button" onclick="location.href='@Url.Action("CreateGroupScreen", "Chat")'">Create Group</button>
        <button id="ContactsButton" type="submit" onclick="location.href='@Url.Action("Contacts", "Home")'">Contacts</button>

        <h2>Joined Groups</h2>
        <div id="ScrollBoxGroup">
            @{
                for (int i = 0; i < HomeModel.m_grouplist.Count; i++)
                {
                    <button id="groupButtons" name="button" type="submit" value="@HomeModel.m_grouplist[i]" onclick="location.href='@Url.Action("GroupTemplate", "Chat")?name=@HomeModel.m_grouplist[i]'">@HomeModel.m_grouplist[i]</button>;
                }
            }
        </div>
        <h2>Topic Joined Groups</h2>
        <div id="ScrollBoxTopic">
            @{
                for (int j = 0; j < HomeModel.m_topiclist.Count; j++)
                {
                    <button id="topicButtons" name="button" type="submit" value="@HomeModel.m_topiclist[j]" onclick="location.href='@Url.Action("TopicTemplate", "Chat")?name=@HomeModel.m_topiclist[j]'">@HomeModel.m_topiclist[j] </button>;
                }
            }
        </div>
    </div>
    <div class="RightSide">
        <button class="centered" id="LoginScreenButton" type="submit" onclick="location.href='@Url.Action("Index", "Login")'">Log Out</button>

        <div class="contactArea">
            <h1>Contacts</h1>
            @{
                for (int i = 0; i < HomeModel.m_contactsListHomeScreen.Count(); i++)
                {
                    <p>
                        <h3>@HomeModel.m_contactsListHomeScreen[i] </h3>
                    </p>
                }
            }


        </div>
        <div class="topGroupArea">
            <h1>Top 3 Groups</h1>
            
            @{
                Dictionary<string, int> groupDictionary = new Dictionary<string, int>();
                groupDictionary = ViewData["groupCount"] as Dictionary<string, int>;
                int counterGroups = 1;
                <p>
                    @foreach (KeyValuePair<string, int>
                  group in groupDictionary)
                    {
                        <h3>@counterGroups.  @group.Key with @group.Value messages</h3>
                        <br>
                        counterGroups = counterGroups + 1;

                    }
                </p>
            }

        </div>

        <div class="topTopicArea">
            <h1>Top 3 Topics</h1>
            @{
                Dictionary<string, int> topicDictionary = new Dictionary<string, int>();
                List<string> categoryList = new List<string>();
                topicDictionary = ViewData["topicCount"] as Dictionary<string, int>;
                categoryList = ViewData["topicCategory"] as List<string>;
                int counter = 1;
                <p>
                    @foreach (KeyValuePair<string, int>
                  topic in topicDictionary)
                    {
                        <h3>@counter.  @topic.Key in the category @categoryList[counter-1] 
                    with @topic.Value messages</h3>
                        <br>
                        counter = counter + 1;

                    }
                </p>
            }

        </div>


    </div>
</body>
</html>