@{
    Layout = null;
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/PinnedMessagesStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="test">
        <h1>Pinned Messages</h1>       
    </div>
    <div class="a">

        <h2>     Pinned Messages                   </h2>
        <h3>  UserName:    </h3>
        <h4>  Message:       </h4>
        <h5>  Name of group:   </h5>

        <div class="displayPinnedMessages">
            @if (HomeModel.m_Pinnedlist != null)
            {
                for (int k = 0; k < HomeModel.m_Pinnedlist.Count(); k++)
                {
                    <p>
                        <div class="containerPin" style="width: 96%; margin-left: 2%; height: auto; border: .5px solid black; background: lightgrey; border-radius: 10px; word-wrap: break-word; padding: .5%; display: block;">
                            <h3 style="font-weight: normal">@HomeModel.m_userPinnedlist[k]  </h3>
                            @if (@HomeModel.m_Pinnedlist[k] != "")
                            {
                                <h4 style="font-weight: normal; text-align: center;">    @HomeModel.m_Pinnedlist[k]</h4>
                            }
                            <br>
                            <!-- Saved Topic and Group picture -->
                            @if ((@HomeModel.m_imagePinnedlist[k] != "") && (@HomeModel.m_messageTypelist[k] == "Topic"))
                            {
                                <h4><img src="../../TopicImages/@HomeModel.m_imagePinnedlist[k]" style=" max-width: 32%; width: auto; height: auto;"></h4>
                            }
                            else
                            {
                                <h4><img src="../../GroupImages/@HomeModel.m_imagePinnedlist[k]" style=" max-width: 32%; width: auto; height: auto;"></h4>
                            }
                            <br>
                            <h6 style="font-weight: normal">
                                @HomeModel.m_groupPinnedlist[k]
                                <button action style="margin-left: 2%; width: 36px; height: 36px; margin-top: 0px; color: white; background: url(../../Images/trashCan.jpg); background-size: cover;" type="button" onclick="location.href='@Url.Action("RemovePinnedMessagesgroup", "Home", new { message = @HomeModel.m_Pinnedlist[k], user = @HomeModel.m_userPinnedlist[k], chatname = @HomeModel.m_groupPinnedlist[k], image = HomeModel.m_imagePinnedlist[k] })'"></button>
                            </h6>
                        </div>
                    </p>
                }
            }
        </div>
        </div>
</body>
</html>
