@model MessagingApp.Models.GroupTemplateModel
@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Chat_StyleSheet/GroupTemplateStyleSheet.css" />
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script type="text/javascript" language="Javascript">
        $(document).ready(function () {
            $("#refreshMessages").load(window.location.href + " #refreshMessages");
            setInterval(function () {
                $("#refreshMessages").load(window.location.href + " #refreshMessages");
            }, 2000);
        });
    </script>
</head>
<body>
    <style>
        body{
            background-image: @DBObject.Bcolor;
        }
        label {
            color:@DBObject.Tcolor;
        }

    </style>
    <div class="LeftSideButton">
        <img id="LoginLogo" src="/Images/Logo.png" />

        <button id="ProfileButton" type="submit" onclick="location.href='@Url.Action("Profile", "Home")'">Profile</button>
        <button id="TopicSearchButton" type="submit" onclick="location.href='@Url.Action("TopicSearch", "Chat")'">Search For Topics</button>
        <button id="CreateGroupButton" type="button" onclick="location.href='@Url.Action("CreateGroupScreen", "Chat")'">Create Group</button>
        <button id="ContactsButton" type="submit" onclick="location.href='@Url.Action("Contacts", "Home")'">Contacts</button>

        <h2>Joined Groups</h2>
        <div id="ScrollBoxGroup">
            @{
                for (int i = 0; i < HomeModel.m_grouplist.Count; i++)
                {
                    <button id="groupButtons" name="button" type="submit" value="@HomeModel.m_grouplist[i]" onclick="location.href='@Url.Action("GroupTemplate", "Chat")?name=@HomeModel.m_grouplist[i]'">@HomeModel.m_grouplist[i]</button>;
                }
            }
        </div>
        <h2>Joined Topics</h2>
        <div id="ScrollBoxTopic">
            @{
                for (int j = 0; j < HomeModel.m_topiclist.Count; j++)
                {
                    <button id="topicButtons" name="button" type="submit" value="@HomeModel.m_topiclist[j]" onclick="location.href='@Url.Action("TopicTemplate", "Chat")?name=@HomeModel.m_topiclist[j]'">@HomeModel.m_topiclist[j] </button>;
                }
            }
        </div>
    </div>
    <div class="RightSide">
        <form class="messageArea" asp-action="GroupTemplate" method="post">
            <button class="goHomeButton" type="button" onclick="location.href='@Url.Action("Home", "Home")'">Home</button>
            <button type="button" onclick="location.href='@Url.Action("removeGroup", "Chat")'">Leave Group </button>
            <br>
            <button class="addContactButton" type="button" onclick="location.href='@Url.Action("InviteContactGroup", "Chat")'">Invite a Contact</button>

            <h1 id="groupName">@GroupTemplateModel.m_groupName</h1>
            <div class="scrollMessages">
                <div id="refreshMessages">
                    @{
                        List<Messages> list = new List<Messages>();
                        list = ViewData["messageobjects"] as List<Messages>;
                        for (int i = 0; i < list.Count(); i++)
                        {
                            <div class="messageAndButtons">
                                <div class="message">
                                    <label style="color: black; font-size: 18px;"> @list[i].GetUsername():</label>
                                    <label style="font-size: 17px;">@list[i].GetMessage() </label>
                                    @if (list[i].GetImage() != "")
                                    {
                                        <img src="../../GroupImages/@list[i].GetImage()" style="max-width: 100%; max-width: 100%; width: auto; height: auto;">
                                    }
                                </div>
                                <div class="messageButtons">
                                    <button style="width: 64px; height: 46px; margin-top: 0px; color: white; background-color:dodgerblue; font-size: 16px;" type="button" dis onclick="location.href='@Url.Action("PinnedMessagesgroup", "Chat", new { message = @list[i].GetMessage(), image = @list[i].GetImage() })'">@list[i].AlreadySaved("Group")</button>
                                    <!--<button action style="width: 114px; height: 25px; margin-top: 0px; color: darkred; background-color:yellow; font-size: 16px;" type="button" onclick="location.href='@Url.Action("RemovePinnedMessagesgroup", "Chat", new { message = @list[i].GetMessage() })'">Remove Pin</button>-->
                                    @if (Convert.ToInt64(list[i].GetUserID()) == DBObject.m_id)
                                    {
                                        <button style="width: 36px; height: 36px; margin-top: 0px; color: white; background: url(../../Images/trashCan.jpg); background-size: cover;" type="button" dis onclick="location.href='@Url.Action("RemoveMessagesgroup", "Chat", new { message = @list[i].GetMessage(), messageID = list[i].GetMessageID(), image = @list[i].GetImage() })'"></button>
                                    }
                                </div>
                            </div>
                            <br>
                            <br>
                        }
                    }
                    <p>
                        <label id="messagesLabelNotFromDatabase"></label>
                    </p>
                </div>
            </div>
        </form>

        <form class="right contactArea" asp-action="GroupTemplate" method="post">
            <div class="fields">
                <p>
                    <h2 id="contactAreaLabel" style="font-weight: bold;">Members</h2>
                    <br />
                </p>
                @{
                   List<string> userList = new List<string>();
                   userList = ViewData["userobjects"] as List<string>;
                   for (int i = 0; i < userList.Count(); i++)
                   {
                      <p>
                          <h3>@userList[i] </h3>
                      </p> 
                   }                   
                 }

                <dl>
                </dl>
            </div>
        </form>





        <!--<form id="reset" class="centered sendMessageArea" asp-action="GroupTemplate" method="post">-->
        <form method="post" class="centered sendMessageArea" enctype="multipart/form-data" asp-controller="Chat" asp-action="UploadImageGroup">
            <div class="fields">
                <br>
                <textarea asp-for="message" id="messageTextArea" type="text" placeholder="Enter Message"></textarea>
                <input type="file" name="files" />
                <button id="sendMessageButton" type="submit" value="Send Message" onclick="timeFunction()">Send Message</button>

                <script>

                    function timeFunction() {
                        var idleInterval = setTimeout("reset()", 30);
                    }


                    function reset() {
                        document.getElementById("reset").reset()
                    }

                </script>
            </div>
        </form>

</div>

</body>
</html>
<!--<script src="~/js/signalr/dist/browser/signalr.js"></script>-->
<!--<script src="~/js/chat.js"></script>-->

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}