@model MessagingApp.Models.GroupTemplateModel
@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Chat_StyleSheet/GroupTemplateStyleSheet.css" />
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="Javascript">
        $(document).ready(function () {
            $("#refreshMessages").load(window.location.href + " #refreshMessages");
            setInterval(function () {
                $("#refreshMessages").load(window.location.href + " #refreshMessages");
            }, 2000);
        });
    </script>
</head>
<body>
    <style>
        body{
            background-image: @DBObject.Bcolor;
        }
        p {
            color:@DBObject.Tcolor;
        }

    </style>
    <div class="LeftSideButton">
        <img id="LoginLogo" src="/Images/Logo.png" />

        <button id="ProfileButton" type="submit" onclick="location.href='@Url.Action("Profile", "Home")'">Profile</button>
        <button id="TopicSearchButton" type="submit" onclick="location.href='@Url.Action("TopicSearch", "Chat")'">Search For Topics</button>
        <button id="CreateGroupButton" type="button" onclick="location.href='@Url.Action("CreateGroupScreen", "Chat")'">Create Group</button>
        <button id="ContactsButton" type="submit" onclick="location.href='@Url.Action("Contacts", "Home")'">Contacts</button>

        <h2>Joined Groups</h2>
        <div id="ScrollBoxGroup">
            @{
                for (int i = 0; i < HomeModel.m_grouplist.Count; i++)
                {
                    <button id="groupButtons" name="button" type="submit" value="@HomeModel.m_grouplist[i]" onclick="location.href='@Url.Action("GroupTemplate", "Chat")?name=@HomeModel.m_grouplist[i]'">@HomeModel.m_grouplist[i]</button>;
                }
            }
        </div>
        <h2>Topic Joined Groups</h2>
        <div id="ScrollBoxTopic">
            @{
                for (int j = 0; j < HomeModel.m_topiclist.Count; j++)
                {
                    <button id="topicButtons" name="button" type="submit" value="@HomeModel.m_topiclist[j]" onclick="location.href='@Url.Action("TopicTemplate", "Chat")?name=@HomeModel.m_topiclist[j]'">@HomeModel.m_topiclist[j] </button>;
                }
            }
        </div>
    </div>    
    <div class="RightSide">
        <form class="messageArea" asp-action="GroupTemplate" method="post">
            <button class="goHomeButton" type="button" onclick="location.href='@Url.Action("Home", "Home")'">Home</button>
            <button type="button" onclick="location.href='@Url.Action("removeGroup", "Chat")'">Leave Topic </button>
            <h1 id="groupName">Group Name: @GroupTemplateModel.m_groupName</h1>
            <div class="scrollMessages">
                <div id="refreshMessages">
                    @{
                        List<Messages> list = new List<Messages>();
                        list = ViewData["messageobjects"] as List<Messages>;
                        for (int i = 0; i < list.Count(); i++)
                        {
                            <p>
                                <label>@list[i].GetUsername() says @list[i].GetMessage() </label>
                            </p>
                        }
                    }
                    <p>
                        <label id="messagesLabelNotFromDatabase"></label>
                    </p>
                </div>
            </div>
        </form>

        <form class="right contactArea" asp-action="GroupTemplate" method="post">
            <div class="fields">
                <p>
                    <h2 id="contactAreaLabel">Contacts</h2>
                    <br />
                </p>
                @{
                    List<string> userList = new List<string>();
                    userList = ViewData["userobjects"] as List<string>;
                    for (int i = 0; i < userList.Count(); i++)
                    {
                        <p>
                            <h3>@userList[i] </h3>
                        </p>
                    }
                }

                <dl>
                </dl>
            </div>
        </form>





        <form id="reset" class="centered sendMessageArea" asp-action="GroupTemplate" method="post">



            <div class="fields">
                <br>
                <textarea id="messageTextArea" type="text" placeholder="Enter Message"></textarea>

                <button id="sendMessageButton" type="button" value="Send Message" onclick="timeFunction()">Send Message</button>

                <script>

                    function timeFunction() {
                        var idleInterval = setTimeout("reset()", 30);
                    }


                    function reset() {
                        document.getElementById("reset").reset()
                    }

                </script>
            </div>
        </form>

    </div>

</body>
</html>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

