@model MessagingApp.Models.TopicTemplateModel
@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Chat_StyleSheet/TopicTemplateStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <style>
        body{
            background-image: @DBObject.Bcolor;
        }
        p {
            color:@DBObject.Tcolor;
        }

    </style>
    <div class="LeftSideButton">
        <img id="LoginLogo" src="/Images/Logo.png" />

        <button id="ProfileButton" type="submit" onclick="location.href='@Url.Action("Profile", "Home")'">Profile</button>
        <button id="TopicSearchButton" type="submit" onclick="location.href='@Url.Action("TopicSearch", "Chat")'">Search For Topics</button>
        <button id="CreateGroupButton" type="button" onclick="location.href='@Url.Action("CreateGroupScreen", "Chat")'">Create Group</button>
        <button id="ContactsButton" type="submit" onclick="location.href='@Url.Action("Contacts", "Home")'">Contacts</button>

        <h2>Joined Groups</h2>
        <div id="ScrollBoxGroup">
            @{
                for (int i = 0; i < HomeModel.m_grouplist.Count; i++)
                {
                    <button id="groupButtons" name="button" type="submit" value="@HomeModel.m_grouplist[i]" onclick="location.href='@Url.Action("GroupTemplate", "Chat")?name=@HomeModel.m_grouplist[i]'">@HomeModel.m_grouplist[i]</button>;
                }
            }
        </div>
        <h2>Topic Joined Groups</h2>
        <div id="ScrollBoxTopic">
            @{
                for (int j = 0; j < HomeModel.m_topiclist.Count; j++)
                {
                    <button id="topicButtons" name="button" type="submit" value="@HomeModel.m_topiclist[j]" onclick="location.href='@Url.Action("TopicTemplate", "Chat")?name=@HomeModel.m_topiclist[j]'">@HomeModel.m_topiclist[j] </button>;
                }
            }
        </div>
    </div>
    <div class="RightSide">
        <form class="messageArea" asp-action="TopicTemplate" method="post">
            <button class="goHomeButton" type="button" onclick="location.href='@Url.Action("Home", "Home")'">Home</button>
            <h1 id="topicName">Group Name: @TopicTemplateModel.m_topicName</h1>
            <h2 id="topicDescription"> Description: </h2>
            <h2 id="topicQuestion"> Question: </h2>

            <div class="scrollMessages">
                @{
                    <p>
                        <label>Message</label>
                    </p>
                    /* List<Messages> list = new List<Messages>();
                     list = ViewData["messageobjects"] as List<Messages>;
                     for (int i = 0; i < list.Count(); i++)
                     {
                         <p>
                             <label>@list[i].GetUsername() says @list[i].GetMessage() </label>
                         </p>
                     }*/
                }
                <p>
                    <label id="messagesLabelNotFromDatabase"></label> <br />
                </p>
            </div>


        </form>



        <form class="right contactArea" asp-action="TopicTemplate" method="post">
            <div class="fields">
                <p>
                    <h2 id="contactAreaLabel">Contacts</h2>
                    <br />
                </p>
                <!-- Print Contacts-->


                <dl>
                </dl>
            </div>
        </form>




        <form id="reset" class="centered sendMessageArea" asp-action="TopicTemplate" method="post">



            <div class="fields">
                <br>
                <!--<input id="messageInput" asp-for="message" placeholder="Enter Message" />-->
                <textarea id="messageTextArea" data-emojiable="true" type="text" placeholder="Enter Message"></textarea>

                <button id="sendMessageButton" type="button" value="Send Message" onclick="timeFunction()">Send Message</button>


            </div>
            <script>

                function timeFunction() {
                    var idleInterval = setTimeout("reset()", 30);
                }


                function reset() {
                    document.getElementById("reset").reset()
                }

            </script>
        </form>
    </div>

</body>
</html>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>