@model MessagingApp.Models.TopicTemplateModel
@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Chat_StyleSheet/TopicTemplateStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="Javascript">
        $(document).ready(function () {
            $("#refreshMessages").load(window.location.href + " #refreshMessages");
            setInterval(function () {
                $("#refreshMessages").load(window.location.href + " #refreshMessages");
            }, 2000);
        });
    </script>
</head>
<body>
    <style>
        body {
            background-image: @DBObject.Bcolor;
            background-size: cover;
        }
        label {
            color:@DBObject.Tcolor;
        }

    </style>
    <div class="LeftSideButton">
        <img id="LoginLogo" src="/Images/Logo.png" />

        <button id="ProfileButton" type="submit" onclick="location.href='@Url.Action("Profile", "Home")'">Profile</button>
        <button id="TopicSearchButton" type="submit" onclick="location.href='@Url.Action("TopicSearch", "Chat")'">Search For Topics</button>
        <button id="CreateGroupButton" type="button" onclick="location.href='@Url.Action("CreateGroupScreen", "Chat")'">Create Group</button>
        <button id="ContactsButton" type="submit" onclick="location.href='@Url.Action("Contacts", "Home")'">Contacts</button>

        <h2>Joined Groups</h2>
        <div id="ScrollBoxGroup">
            @{
                for (int i = 0; i < HomeModel.m_grouplist.Count; i++)
                {
                    <button id="groupButtons" name="button" type="submit" value="@HomeModel.m_grouplist[i]" onclick="location.href='@Url.Action("GroupTemplate", "Chat")?name=@HomeModel.m_grouplist[i]'">@HomeModel.m_grouplist[i]</button>;
                }
            }
        </div>
        <h2>Joined Topics</h2>
        <div id="ScrollBoxTopic">
            @{
                for (int j = 0; j < HomeModel.m_topiclist.Count; j++)
                {
                    <button id="topicButtons" name="button" type="submit" value="@HomeModel.m_topiclist[j]" onclick="location.href='@Url.Action("TopicTemplate", "Chat")?name=@HomeModel.m_topiclist[j]'">@HomeModel.m_topiclist[j] </button>;
                }
            }
        </div>
    </div>
    <div class="RightSide">
        <form class="messageArea" asp-action="TopicTemplate" method="post">
            <button class="goHomeButton" type="button" onclick="location.href='@Url.Action("Home", "Home")'">Home</button>
            <button type="button" onclick="location.href='@Url.Action("removeTopic", "Chat")'">Leave Topic </button>
           <br>
            <button class="addContactButton" type="button" onclick="location.href='@Url.Action("InviteContacttopic", "Chat")'">Invite a Contact</button>

            <h1 id="topicName">@TopicTemplateModel.m_topicName</h1>




            @{List<string> discussionAndQuestion = new List<string>();
                discussionAndQuestion = ViewData["discussionAndQuestion"] as List<string>;
            }
            <h2 id="topicDescription">Description: @discussionAndQuestion[0]</h2>
            <h2 id="topicQuestion">Question: @discussionAndQuestion[1]</h2>

            <div class="scrollMessages">
                <div id="refreshMessages">
                    @{
                        List<Messages> topicMessagelist = new List<Messages>();
                        topicMessagelist = ViewData["messageobjects"] as List<Messages>;
                        for (int i = 0; i < topicMessagelist.Count(); i++)
                        {
                            <div class="messageAndButtons">
                                <div class="message">
                                    <label style="color: black; font-size: 18px;"> @topicMessagelist[i].GetUsername():</label>


                                    @{
                                        if (@topicMessagelist[i].GetMessage().Contains("http") && @topicMessagelist[i].GetMessage() != "")
                                        {
                                            <a href="@topicMessagelist[i].GetMessage()" target="_blank" rel="noreferrer">@topicMessagelist[i].GetMessage()</a>
                                        }
                                        else
                                        {
                                            <label style="font-size: 17px;">@topicMessagelist[i].GetMessage() </label>
                                        }
                                    }
                                    @if (topicMessagelist[i].GetImage() != "")
                                    {
                                        <img src="../../TopicImages/@topicMessagelist[i].GetImage()" style="max-width: 100%; max-width: 100%; width: auto; height: auto;">
                                    }
                                </div>
                                <div class="messageButtons">

                                    <button style="width: 64px; height: 46px; margin-top: 0px; color: white; background-color:dodgerblue; font-size: 16px;" type="button" onclick="location.href='@Url.Action("PinnedMessagestopic", "Chat", new { message = @topicMessagelist[i].GetMessage(), image = @topicMessagelist[i].GetImage() })'">@topicMessagelist[i].AlreadySaved("Topic")</button>

                                    @if (topicMessagelist[i].GetUsername() == DBObject.m_username)
                                    {
                                        <button style="width: 36px; height: 36px; margin-top: 0px; color: white; background: url(../../Images/trashCan.jpg); background-size: cover;" type="button" dis onclick="location.href='@Url.Action("RemoveMessagesTopic", "Chat", new {message = @topicMessagelist[i].GetMessage(), messageID = topicMessagelist[i].GetMessageID(), image = @topicMessagelist[i].GetImage()})'"></button>
                                    }
                                </div>
                            </div>
                            <br>
                            <br>
                        }
                    }
                    <p>
                        <label id="messagesLabelNotFromDatabase"></label>
                    </p>
                </div>
            </div>
        </form>



        <form class="right contactArea" asp-action="TopicTemplate" method="post">
            <div class="fields">
                <p>
                    <h2 id="contactAreaLabel" style="font-weight: bold;">Members</h2>
                    <br />
                </p>
                @{
                    List<string> users = new List<string>();
                    users = ViewData["users"] as List<string>;
                    for (int i = 0; i < users.Count(); i++)
                    {
                        <p>
                            <h3>@users[i] </h3>
                        </p>
                    }
                }


                <dl>
                </dl>
            </div>
        </form>



        <!-- <form id="reset" class="centered sendMessageArea" asp-action="TopicTemplate" method="post">-->
        <form method="post" class="centered sendMessageArea" enctype="multipart/form-data" asp-controller="Chat" asp-action="UploadImageTopic">
            <div class="fields">
                <br>
                <textarea asp-for="message" id="messageTextArea" type="text" placeholder="Enter Message"></textarea>
                <input type="file" name="files"/>
                <button id="sendTopicMessageButton" type="submit" value="Send Message" onclick="timeFunction()">Send Message</button>

                <script>
                    function timeFunction() {
                        var idleInterval = setTimeout("reset()", 30);
                    }


                    function reset() {
                        document.getElementById("reset").reset()
                    }
                </script>
            </div>
        </form>



    </div>

</body>
</html>

<!--<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/topicChat.js"></script>-->