@model MessagingApp.Models.TopicTemplateModel
@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Chat_StyleSheet/ViewTopicStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <style>
        body{
            background-image: @DBObject.Bcolor;
        }
        label {
            color:@DBObject.Tcolor;
        }

    </style>
   
    <div class="MessageContainer">
        <form class="messageArea" asp-action="ViewTopic" method="post">
            <button class="searchTopicButton" type="button" onclick="location.href='@Url.Action("TopicSearch", "Chat")'">Topic Search</button>
            <button class="joinButton" type="button" onclick="location.href='@Url.Action("JoinTopic", "Chat")'">Join Topic</button>

            <h1 id="topicName">@TopicSearchModel.topic</h1>
            <h2 id="topicDescription"> Description:  @TopicSearchModel.description</h2>
            <h2 id="topicQuestion"> Question: @TopicSearchModel.question</h2>

            <div class="scrollMessages">
                @{
                    List<Messages> topicMessagelist = new List<Messages>();
                    topicMessagelist = ViewData["messageobjects"] as List<Messages>;
                    for (int i = 0; i < topicMessagelist.Count(); i++)
                    {
                                <div class="message">

                                    <label style="color: black; font-size: 18px;"> @topicMessagelist[i].GetUsername():</label>
                                    @{
                                        if (@topicMessagelist[i].GetMessage().Contains("http") && @topicMessagelist[i].GetMessage() != "")
                                        {
                                                   <a href="@topicMessagelist[i].GetMessage()" target="_blank" rel="noreferrer">@topicMessagelist[i].GetMessage()</a>
                                        }
                                        else
                                        {
                                <label style="font-size: 17px;">@topicMessagelist[i].GetMessage() </label>
                                        }
                                    }
                                
                                    @if (topicMessagelist[i].GetImage() != "")
                                    {
                                        <img src="../../TopicImages/@topicMessagelist[i].GetImage()" style="max-width: 100%; max-width: 100%; width: auto; height: auto;">
                                    }
                                    <br>
                                    <br>
                                </div>
                    }
                }
            </div>

            </form>



        <form class="right contactArea" asp-action="ViewTopic" method="post">
            <div class="fields">
                <p>
                    <h2 id="contactAreaLabel" style="font-weight: bold;">Members</h2>
                    <br />
                </p>
                @{
                    List<string> users = new List<string>();
                    users = ViewData["users"] as List<string>;
                    for (int i = 0; i < users.Count(); i++)
                    {
                        <p>
                            <h3>@users[i] </h3>
                        </p>
                    }
                }

                <dl>
                </dl>
            </div>
        </form>





    </div>

</body>
</html>

<!--<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>-->